html {
  font-size: 12px;
}

body {
  box-sizing: border-box;
  min-width: 600px;
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  flex-flow: column;
}

.textarea {
  margin-bottom: 20px;
  font-size: 2rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.keyboard {
  background-color: lightgrey;
  user-select: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  &--guide {
    position: relative;
    width: 400px;
    padding:20px;
    user-select: none;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    background-color: lightgrey;
    &:hover {
      box-shadow: 5px 5px 5px black;
      cursor: pointer;
    }
    &:active {
      top: 3px;
      left: 3px;
      box-shadow: 2px 2px 2px black;
    }
  }
  &--samples {
    padding: 5px;
    border-radius: 5px;
    background-color: burlywood;
    box-shadow: 2px 3px 1px cadetblue;
  }
}

.button {
  flex-grow: 2;
  margin-right: 5px;
  min-width: 30px;
  flex-basis: 20px;
  height: 30px;
  border-radius: 5px;
  background-color: burlywood;
  box-shadow: 2px 3px 1px cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 3px rgb(13, 51, 53);
  }
  &:active {
    background-color: rgb(192, 149, 93);
    top: 2px;
    left: 1px;
    box-shadow: 1px 1px rgb(13, 51, 53);
  }
  &--active::after {
    content: '';
    top: 4px;
    right: 4px;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    background: red;
  }
  &--pressed {
    background-color: rgb(192, 149, 93);
    top: 2px;
    left: 1px;
    box-shadow: 1px 1px rgb(13, 51, 53);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 5px;
  &1 .button:last-child,
  &3 .button:first-child,
  &3 .button:last-child,
  &4 .button:first-child,
  &4 .button:last-child {
    flex-basis: 80px;
  }
  &5 .button:nth-child(4) {
    flex-basis: 380px;
  }
}

.uppercase {
  text-transform: uppercase;
}